.about-us{
    position:relative;
    background: rgba(map-get($theme-colors,secondary),0.71);
    .pb-inner{
        padding-top: 63px;
        padding-bottom: 42px;
        @media(max-width:767px){
            padding-top: 0;            
        }      
        .about-us-text{
            padding: 40px;
        }
        @media(max-width:1024px){
            .about-us-text{
                padding: 15px;
            }        
        }
        .img-section{
            padding: 0;
        }
        img{
            width: 100%;
            object-fit: cover;
            height: auto;
        }
        @media(max-width:767px){
            .about-us-text{
                padding: 15px;
            }
            .img-section{
                padding: 0 15px;
            }         
        }
        
    }    
    p{
        font-family:'Proxima Nova Rg', sans-serif;
        font-size:calculateRem(18px);
    }
}