.text-banner{
    &.jumbotron{
        padding-top:93px;
        padding-bottom:81px;
        margin-bottom:0;
    }
    &.v2{
        font-size:calculateRem(16px);
    }
    &.v3{
        text-align:center;
        font-size:18px;
        h2{
            margin-bottom:0;
        }
        p{
            max-width:600px;
            margin:0 auto;
            margin-bottom:15px;
        }
    }
}