@font-face {
    font-family: 'Glober';
    src: url('GloberLightItalic.eot');
    src: url('GloberLightItalic.eot?#iefix') format('embedded-opentype'),
        url('GloberLightItalic.woff2') format('woff2'),
        url('GloberLightItalic.woff') format('woff'),
        url('GloberLightItalic.ttf') format('truetype'),
        url('GloberLightItalic.svg#GloberLightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Glober';
    src: url('GloberRegular.eot');
    src: url('GloberRegular.eot?#iefix') format('embedded-opentype'),
        url('GloberRegular.woff2') format('woff2'),
        url('GloberRegular.woff') format('woff'),
        url('GloberRegular.ttf') format('truetype'),
        url('GloberRegular.svg#GloberRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Glober';
    src: url('GloberLight.eot');
    src: url('GloberLight.eot?#iefix') format('embedded-opentype'),
        url('GloberLight.woff2') format('woff2'),
        url('GloberLight.woff') format('woff'),
        url('GloberLight.ttf') format('truetype'),
        url('GloberLight.svg#GloberLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Glober Book';
    src: url('GloberBook.eot');
    src: url('GloberBook.eot?#iefix') format('embedded-opentype'),
        url('GloberBook.woff2') format('woff2'),
        url('GloberBook.woff') format('woff'),
        url('GloberBook.ttf') format('truetype'),
        url('GloberBook.svg#GloberBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Glober';
    src: url('GloberHeavyItalic.eot');
    src: url('GloberHeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('GloberHeavyItalic.woff2') format('woff2'),
        url('GloberHeavyItalic.woff') format('woff'),
        url('GloberHeavyItalic.ttf') format('truetype'),
        url('GloberHeavyItalic.svg#GloberHeavyItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Glober';
    src: url('GloberBoldItalic.eot');
    src: url('GloberBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('GloberBoldItalic.woff2') format('woff2'),
        url('GloberBoldItalic.woff') format('woff'),
        url('GloberBoldItalic.ttf') format('truetype'),
        url('GloberBoldItalic.svg#GloberBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Glober xBold';
    src: url('GloberxBold.eot');
    src: url('GloberxBold.eot?#iefix') format('embedded-opentype'),
        url('GloberxBold.woff2') format('woff2'),
        url('GloberxBold.woff') format('woff'),
        url('GloberxBold.ttf') format('truetype'),
        url('GloberxBold.svg#GloberxBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Glober';
    src: url('GloberThinItalic.eot');
    src: url('GloberThinItalic.eot?#iefix') format('embedded-opentype'),
        url('GloberThinItalic.woff2') format('woff2'),
        url('GloberThinItalic.woff') format('woff'),
        url('GloberThinItalic.ttf') format('truetype'),
        url('GloberThinItalic.svg#GloberThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Glober';
    src: url('GloberBlack.eot');
    src: url('GloberBlack.eot?#iefix') format('embedded-opentype'),
        url('GloberBlack.woff2') format('woff2'),
        url('GloberBlack.woff') format('woff'),
        url('GloberBlack.ttf') format('truetype'),
        url('GloberBlack.svg#GloberBlack') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Glober';
    src: url('GloberSemiBoldItalic.eot');
    src: url('GloberSemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('GloberSemiBoldItalic.woff2') format('woff2'),
        url('GloberSemiBoldItalic.woff') format('woff'),
        url('GloberSemiBoldItalic.ttf') format('truetype'),
        url('GloberSemiBoldItalic.svg#GloberSemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Glober';
    src: url('GloberSemiBold.eot');
    src: url('GloberSemiBold.eot?#iefix') format('embedded-opentype'),
        url('GloberSemiBold.woff2') format('woff2'),
        url('GloberSemiBold.woff') format('woff'),
        url('GloberSemiBold.ttf') format('truetype'),
        url('GloberSemiBold.svg#GloberSemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Glober xBold';
    src: url('GloberxBoldItalic.eot');
    src: url('GloberxBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('GloberxBoldItalic.woff2') format('woff2'),
        url('GloberxBoldItalic.woff') format('woff'),
        url('GloberxBoldItalic.ttf') format('truetype'),
        url('GloberxBoldItalic.svg#GloberxBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Glober Regular';
    src: url('GloberRegularItalic.eot');
    src: url('GloberRegularItalic.eot?#iefix') format('embedded-opentype'),
        url('GloberRegularItalic.woff2') format('woff2'),
        url('GloberRegularItalic.woff') format('woff'),
        url('GloberRegularItalic.ttf') format('truetype'),
        url('GloberRegularItalic.svg#GloberRegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Glober';
    src: url('GloberThin.eot');
    src: url('GloberThin.eot?#iefix') format('embedded-opentype'),
        url('GloberThin.woff2') format('woff2'),
        url('GloberThin.woff') format('woff'),
        url('GloberThin.ttf') format('truetype'),
        url('GloberThin.svg#GloberThin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Glober';
    src: url('GloberBold.eot');
    src: url('GloberBold.eot?#iefix') format('embedded-opentype'),
        url('GloberBold.woff2') format('woff2'),
        url('GloberBold.woff') format('woff'),
        url('GloberBold.ttf') format('truetype'),
        url('GloberBold.svg#GloberBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Glober Book';
    src: url('GloberBookItalic.eot');
    src: url('GloberBookItalic.eot?#iefix') format('embedded-opentype'),
        url('GloberBookItalic.woff2') format('woff2'),
        url('GloberBookItalic.woff') format('woff'),
        url('GloberBookItalic.ttf') format('truetype'),
        url('GloberBookItalic.svg#GloberBookItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Glober';
    src: url('GloberBlackItalic.eot');
    src: url('GloberBlackItalic.eot?#iefix') format('embedded-opentype'),
        url('GloberBlackItalic.woff2') format('woff2'),
        url('GloberBlackItalic.woff') format('woff'),
        url('GloberBlackItalic.ttf') format('truetype'),
        url('GloberBlackItalic.svg#GloberBlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Glober';
    src: url('GloberHeavy.eot');
    src: url('GloberHeavy.eot?#iefix') format('embedded-opentype'),
        url('GloberHeavy.woff2') format('woff2'),
        url('GloberHeavy.woff') format('woff'),
        url('GloberHeavy.ttf') format('truetype'),
        url('GloberHeavy.svg#GloberHeavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

